## Build directories
*build*/
cmake-build-debug/

## Output files
*.exe
*.obj
*.o
*.out

## Local files for yours truly
*.local.*

## IDE Files
.idea/
*.imp
_Deparsed_XSubs.pm

.vscode/
.vs/

## ??
compile_commands.json
*.stackdump

## Config'd
starch/test/testmain.cpp
starch/src/versioning.hpp
starch/src/Utils.cpp

croquette/test/testmain.cpp
croquette/versioning.hpp

src/versioning.hpp

## External Libraries
libs
*/libs
boost_*/
dox
